@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.container {
  flex: 1;
  height: 41.875rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.625rem;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.45rem;
  margin-top: 0.938rem;
  max-height: 35.75rem;
  border: 3px solid;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  position: relative;
}

.mbtn:nth-child(n) {
  background-color: rgb(240, 160, 0);
}

.mbtn:nth-child(2n) {
  background-color: rgb(223, 0, 0);
}

.mbtn:last-child {
  position: relative;
  background-color: orangered;
  left: min(19rem, 26vw);
}

.mbtn {
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  height: 4.688rem;
  width: min(11.5rem, 15vw);
  min-width: 10.5rem;
  word-wrap: break-word;
  margin: 0.5rem;
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.controls {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(8, auto);
}

#drink-display {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  border: 3px solid;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(251, 251, 251);
}

.cbtn {
  margin: 1.25rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid;
}

.cbtn:hover {
  opacity: 80%;
}

.info-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info-btn:hover {
  opacity: 75%;
}

.info-modal {
  border-radius: 5px;
  background-color: white;
  height: 90%;
  width: clamp(30rem, 65%, 45rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: solid 2px;
  backdrop-filter: blur(5px) brightness(60%);
}

#sugar-search-input {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png"); /* Add a search icon to input */
  background-size: 20px;
  background-position: 12px center;
  background-repeat: no-repeat;
  width: 98%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgb(199, 198, 198);
  height: 11%;
  margin: 0.5rem;
  align-self: center;
}

#search-list {
  flex: 1;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 0.1rem;
}

#search-list li {
  display: flex;
  font-size: 1.3rem;
  border: 1px solid silver;
  margin-top: -1px;
}

#search-list li.hide {
  display: none;
}

.search-name {
  padding: 0.5rem;
  padding-left: 2.5%;
  width: 80%;
  background-color: rgb(251, 251, 251);
}

.search-sugar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 175, 35);
}

#drink-display.correct {
  background-color: rgb(3, 180, 3);
}

#drink-display.wrong {
  background-color: rgb(226, 0, 0);
}

.hide {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .mbtn {
    width: 11.5rem;
  }

  .mbtn:last-child {
    position: relative;
    background-color: orangered;
    left: 19rem;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
